<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>overlays-hash.png</string>
	<string>overlays-certified.png</string>
	<string>overlays-wasted.png</string>
	<string>overlays-killinit.png</string>
	<string>overlays-hammered.png</string>
</array>
</plist>
